<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mj.time.mapper.TagMapper">
  <resultMap id="BaseResultMap" type="com.mj.time.domain.Tag">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="TIMESTAMP" property="create_time" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modify_time" />
    <result column="bak1" jdbcType="VARCHAR" property="bak1" />
    <result column="bak2" jdbcType="VARCHAR" property="bak2" />
    <result column="bak3" jdbcType="VARCHAR" property="bak3" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, color, type, creator, create_time, modify_time, bak1, bak2, bak3
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_tag
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByUserId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 'false' as QUERYID,
    <include refid="Base_Column_List" />
    from t_tag
    where creator = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_tag
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mj.time.domain.Tag">
    insert into t_tag (id, name, color, 
      type, creator, create_time, 
      modify_time, bak1, bak2, 
      bak3)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{type,jdbcType=TINYINT}, #{creator,jdbcType=INTEGER}, #{create_time,jdbcType=TIMESTAMP}, 
      #{modify_time,jdbcType=TIMESTAMP}, #{bak1,jdbcType=VARCHAR}, #{bak2,jdbcType=VARCHAR}, 
      #{bak3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mj.time.domain.Tag">
    insert into t_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="modify_time != null">
        modify_time,
      </if>
      <if test="bak1 != null">
        bak1,
      </if>
      <if test="bak2 != null">
        bak2,
      </if>
      <if test="bak3 != null">
        bak3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        #{bak3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mj.time.domain.Tag">
    update t_tag
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=TIMESTAMP},
      </if>
      <if test="modify_time != null">
        modify_time = #{modify_time,jdbcType=TIMESTAMP},
      </if>
      <if test="bak1 != null">
        bak1 = #{bak1,jdbcType=VARCHAR},
      </if>
      <if test="bak2 != null">
        bak2 = #{bak2,jdbcType=VARCHAR},
      </if>
      <if test="bak3 != null">
        bak3 = #{bak3,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mj.time.domain.Tag">
    update t_tag
    set name = #{name,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      type = #{type,jdbcType=TINYINT},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=TIMESTAMP},
      modify_time = #{modify_time,jdbcType=TIMESTAMP},
      bak1 = #{bak1,jdbcType=VARCHAR},
      bak2 = #{bak2,jdbcType=VARCHAR},
      bak3 = #{bak3,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <insert id="insertBatchSelective" parameterType="java.util.List">
    insert into t_tag
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="list[0].id!=null">
        id,
      </if>
      <if test="list[0].name!=null">
        name,
      </if>
      <if test="list[0].color!=null">
        color,
      </if>
      <if test="list[0].type!=null">
        type,
      </if>
      <if test="list[0].creator!=null">
        creator,
      </if>
      <if test="list[0].create_time!=null">
        create_time,
      </if>
      <if test="list[0].modify_time!=null">
        modify_time,
      </if>
      <if test="list[0].bak1!=null">
        bak1,
      </if>
      <if test="list[0].bak2!=null">
        bak2,
      </if>
      <if test="list[0].bak3!=null">
        bak3,
      </if>
    </trim>
     values 
    <foreach collection="list" index="index" item="item" separator=",">
      <trim prefix=" (" suffix=")" suffixOverrides=",">
        <if test="item.id!=null">
          #{item.id,jdbcType=INTEGER},
        </if>
        <if test="item.name!=null">
          #{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.color!=null">
          #{item.color,jdbcType=VARCHAR},
        </if>
        <if test="item.type!=null">
          #{item.type,jdbcType=TINYINT},
        </if>
        <if test="item.creator!=null">
          #{item.creator,jdbcType=INTEGER},
        </if>
        <if test="item.create_time!=null">
          #{item.create_time,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modify_time!=null">
          #{item.modify_time,jdbcType=TIMESTAMP},
        </if>
        <if test="item.bak1!=null">
          #{item.bak1,jdbcType=VARCHAR},
        </if>
        <if test="item.bak2!=null">
          #{item.bak2,jdbcType=VARCHAR},
        </if>
        <if test="item.bak3!=null">
          #{item.bak3,jdbcType=VARCHAR},
        </if>
      </trim>
    </foreach>
  </insert>
  <update id="updateBatchByPrimaryKeySelective" parameterType="java.util.List">
    <foreach collection="list" index="index" item="item" separator=";">
      update t_tag
      <set>
        <if test="item.name!=null">
          name=#{item.name,jdbcType=VARCHAR},
        </if>
        <if test="item.color!=null">
          color=#{item.color,jdbcType=VARCHAR},
        </if>
        <if test="item.type!=null">
          type=#{item.type,jdbcType=TINYINT},
        </if>
        <if test="item.creator!=null">
          creator=#{item.creator,jdbcType=INTEGER},
        </if>
        <if test="item.create_time!=null">
          create_time=#{item.create_time,jdbcType=TIMESTAMP},
        </if>
        <if test="item.modify_time!=null">
          modify_time=#{item.modify_time,jdbcType=TIMESTAMP},
        </if>
        <if test="item.bak1!=null">
          bak1=#{item.bak1,jdbcType=VARCHAR},
        </if>
        <if test="item.bak2!=null">
          bak2=#{item.bak2,jdbcType=VARCHAR},
        </if>
        <if test="item.bak3!=null">
          bak3=#{item.bak3,jdbcType=VARCHAR},
        </if>
      </set>
      where 
      id = #{item.id,jdbcType=INTEGER}
    </foreach>
  </update>
</mapper>